html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.Buttons {
font-size: 40px;
background-color: rgb(254,245,218);
cursor: pointer;
font-family: "Palatino";
border-color: black;
border-width: 5px;
}
