body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}

canvas {
  height: 80vh;
  width: 80vw;
  display: block;
  border: solid green;
}

.home {
  border: 2px solid rgba(182, 5, 5, 0.829);
  position: fixed; /* Change this line */
  color: rgb(0, 255, 106);
  border-radius: 0.5rem;
  resize: none;
  outline: none;
  top: calc(50vh - 300px - 4rem); /* Adjust as needed */
  left: calc(40vw - 476px + 2rem);
  font-size: 3rem;
  font-weight: bold;
}