body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color:rgb(188,158,130);
}

body {
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}

canvas {
  height: 80vh;
  width: 80vw;
  display: block;
  border: rgb(254,245,218);
  border-width: 10px;
}

.home {
  border: 5px solid black;
  position: fixed; /* Change this line */
  color: black;
  border-radius: 0.5rem;
  resize: none;
  outline: none;
  top: calc(50vh - 300px - 4rem); /* Adjust as needed */
  left: calc(40vw - 476px + 2rem);
  font-size: 3rem;
}
