body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}

canvas {
  height: 80vh;
  width: 80vw;
  display: block;
  border: solid green;
}
