* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: rgb(188,158,130);
}

body,
.quote-input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 700px;
  max-width: 90%;
}

.timer {
  position: absolute;
  top: calc(50vh - 275px - 1rem); /* Adjust as needed */
  font-size: 3rem;
  color: rgb(0,0,0);
  font-weight: bold;
}

.WPM {
  position: absolute;
  top: calc(50vh - 275px - 1rem); /* Adjust as needed */
  left: calc(50vw - 600px + 1rem);
  font-size: 3rem;
  color: rgb(0,0,0);
  font-weight: bold;
}

.WPMNum {
  position: absolute;
  top: calc(50vh - 275px - 1rem); /* Adjust as needed */
  left: calc(50vw - 425px + 1rem);
  font-size: 3rem;
  color: rgb(0,0,0);
  font-weight: bold;
}

.levelText {
  position: absolute;
  top: calc(50vh - 275px - 1rem); /* Adjust as needed */
  right: calc(50vw - 425px + 1rem);
  font-size: 3rem;
  color: rgb(0,0,0);
  font-weight: bold;
}

.levelNum {
  position: absolute;
  top: calc(50vh - 275px - 1rem); /* Adjust as needed */
  right: calc(50vw - 460px + 1rem);
  font-size: 3rem;
  color: rgb(0,0,0);
  font-weight: bold;
}

.completion {
  position: absolute;
  top: calc(50vh - 180px - 1rem); /* Adjust as needed */
  left: calc(50vw - 618px + 2rem);
  font-size: 3rem;
  color: rgb(0,0,0);
  font-weight: bold;
}

.completionNum {
  position: absolute;
  top: calc(50vh - 180px - 1rem); /* Adjust as needed */
  left: calc(50vw - 325px + 2rem);
  font-size: 3rem;
  color: rgb(0,0,0);
  font-weight: bold;
}

.tutorial {
  position: absolute;
  bottom: calc(50vh - 300px - 1rem); /* Adjust as needed */
  font-size: 2rem;
  color: rgb(0,0,0);
  font-weight: bold;
}

.quote-display {
  margin-bottom: 1rem;
  margin-left: calc(1rem + 2px);
  margin-right: calc(1rem + 2px);
  color: rgb(0, 0, 0);
}

.quote-input {
  background-color: transparent;
  border: 2px solid rgba(221, 216, 216, 0.829);
  outline: none;
  width: 100%;
  height: 8rem;
  margin: auto;
  resize: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: rgba(0, 0, 0, 0.774);
}

.quote-input:focus {
  border-color: rgb(0, 0, 0);
}

.correct {
  color: rgb(54, 185, 69);
}

.incorrect {
  color: red;
  text-decoration: underline;
}

.home {
  border: 5px solid black;
  box-shadow: 7px 7px 20px;
  position: fixed; /* Change this line */
  color: black;
  border-radius: 0.5rem;
  resize: none;
  outline: none;
  top: calc(50vh - 300px - 4rem); /* Adjust as needed */
  left: calc(40vw - 476px + 2rem);
  font-size: 3rem;
}
.home:hover{
  cursor: pointer;
  border-color: white;
}

.mute {
  border: 5px solid black;
  box-shadow: 7px 7px 20px;
  position: fixed; /* Change this line */
  color: black;
  border-radius: 0.5rem;
  resize: none;
  outline: none;
  top: calc(50vh - 300px - 4rem); /* Adjust as needed */
  left: calc(40vw - 476px + 2rem);
  font-size: 3rem;
}
.mute:hover{
  cursor: pointer;
  border-color: white;
}