html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.home {
  border: 5px solid black;
  box-shadow: 7px 7px 20px;
  position: fixed; /* Change this line */
  color: black;
  border-radius: 0.5rem;
  resize: none;
  outline: none;
  top: calc(50vh - 300px - 4rem); /* Adjust as needed */
  left: calc(40vw - 476px + 2rem);
  font-size: 3rem;
}
.home:hover{
  cursor: pointer;
  border-color: white;
}