* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #249bc9;
}

body,
.quote-input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 700px;
  max-width: 90%;
}

.timer {
  position: absolute;
  top: 2rem;
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

.WPM {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

.WPMNum {
  position: absolute;
  top: 2rem;
  left: 11rem;
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

.levelText {
  position: absolute;
  top: 2rem;
  right: 11rem;
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

.levelNum {
  position: absolute;
  top: 2rem;
  right: 9rem;
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

.completion {
  position: absolute;
  top: 8rem;
  left: 2rem;
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

.completionNum {
  position: absolute;
  top: 8rem;
  left: 19rem;
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

.quote-display {
  margin-bottom: 1rem;
  margin-left: calc(1rem + 2px);
  margin-right: calc(1rem + 2px);
}

.quote-input {
  background-color: transparent;
  border: 2px solid rgba(221, 216, 216, 0.829);
  outline: none;
  width: 100%;
  height: 8rem;
  margin: auto;
  resize: none;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.qoute-input:focus {
  border-color: black;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
  text-decoration: underline;
}
