html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.score {
  position: absolute;
  top: calc(50vh - 300px - 0.5rem); /* Adjust as needed */
  left: calc(50vw - 460px + 1rem);
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.scoreNum {
  position: absolute;
  top: calc(50vh - 298px - 0.5rem); /* Adjust as needed */
  left: calc(50vw - 350px + 1rem);
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.bestScoreNum {
  position: absolute;
  top: calc(50vh - 257px - 0.5rem); /* Adjust as needed */
  left: calc(50vw - 350px + 1rem);
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.bestScore {
  position: absolute;
  top: calc(50vh - 260px - 0.5rem); /* Adjust as needed */
  left: calc(50vw - 460px + 1rem);
  font-size: 2rem;
  color: black;
  font-weight: bold;
}
.level {
  position: absolute;
  bottom: calc(50vh - 257px - 2rem); /* Adjust as needed */
  left: calc(50vw - 465px + 1rem);
  font-size: 2rem;
  color: black;
  font-weight: bold;
}
.levelNum {
  position: absolute;
  bottom: calc(50vh - 257px - 2rem); /* Adjust as needed */
  left: calc(50vw - 375px + 1rem);
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.tutorial {
  position: absolute;
  top: calc(50vh - 260px - 2.5rem); /* Adjust as needed */
  right: calc(50vw - 595px + 1rem);
  font-size: 1rem;
  color: black;
  font-weight: bold;
}

.home {
  border: 5px solid black;
  box-shadow: 7px 7px 20px;
  position: fixed; /* Change this line */
  color: black;
  border-radius: 0.5rem;
  resize: none;
  outline: none;
  top: calc(50vh - 300px - 4rem); /* Adjust as needed */
  left: calc(40vw - 476px + 2rem);
  font-size: 3rem;
}

.reset {
  border: 5px solid black;
  position: fixed; /* Change this line */
  color: black;
  border-radius: 0.5rem;
  resize: none;
  outline: none;
  top: calc(50vh - 200px - 4rem); /* Adjust as needed */
  left: calc(40vw - 476px + 2rem);
  font-size: 3rem
}
